:root {
  --color-pastel-blue-light: #7591a5;
  --color-pastel-blue-dark: #194769;
  --color-crab-orange: #f74c00;

  --color-downriver-300: #3b4b5b;
  --color-downriver-400: #0A2540;

  --color-iron-200: #FAFAFB;
  --color-iron-300: #F5F6F7;
  --color-iron-400: #DCE0E3;

  --slidev-theme-primary: #7591a5;

}

.with-footer {

  h1 {
    position: relative;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
  }

  h1::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 7rem;
    border-top: 1px solid var(--color-pastel-blue-light);
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  padding: 0.5rem;
  background: url('../images/logo.svg') no-repeat left 3.5rem center;
  background-size: auto 60%;
  background-color: var(--color-iron-200);
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  .bg-image {
    position: absolute;
    top: 15%;
    right: 5%;
    height: 70%;
    z-index: -1;
  }

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 mb-4;
    color: var(--color-pastel-blue-dark);
    font-weight: 400;
    opacity: 1;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
}


a.playground {
  display: inline-block;
  margin-bottom: 10px;
}

div[layout="two-cols"] div.col-right {
  padding-left:10px;
   padding-top: 53px;
}

.bg-red-200, .bg-yellow-300 {
    color: black;
}
